include AUTHORS
include COPYING
include FAQ
include INSTALL
include LICENSE
include NEWS
include RELEASE_NOTES
include TODO
include TestPlan.txt
include create_setup_cfg.py
include gramps.sh.in
include MANIFEST.in
include setup_custom.py

# README and setup.py are automatically added by default

recursive-include data *
recursive-include debian *
recursive-include docs *
recursive-include example *
recursive-include gramps *
recursive-include help *
recursive-include mac *
recursive-include po *
recursive-include test *
recursive-include windows *
